[user]
    name = bartol
    email = b@bartol.dev

[color]
    ui = true

[core]
    pager = less --tabs=4 -RFX
    excludesfile = ~/.gitignore

[merge]
    tool = vimdiff

[url "git@github.com:"]
    insteadOf = https://github.com/
