<p>
  <strong>Url:</strong>
  <%= @webpage.url %>
</p>

<p>
  <strong>Element:</strong>
  <%= @webpage.element %>
</p>

<%= link_to 'Edit', edit_webpage_path(@webpage) %> |
<%= link_to 'Back', webpages_path %>
