[user]
	name = Bartol Deak
	email = b@bdeak.net

[commit]
	verbose = true
	gpgsign = true

[merge]
	tool = vimdiff

[mergetool]
	keepBackup = false

[core]
	excludesFile = ~/.gitignore

[help]
	autocorrect = 20

[alias]
	s = status
	a = add
	c = commit
	ca = !git add -A && git commit
	co = checkout
	d = diff
	l = log --oneline --graph
	p = !git remote | xargs -L1 git push --all
	pl = pull
